rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Regra para a pasta de solicitações
    // Leitura pública, escrita é controlada por URLs assinadas (geradas no backend)
    match /requests/{allPaths=**} {
      allow read: if true;
      allow write: if false; // Uploads diretos são bloqueados por segurança
    }

    // Regra para a pasta de laudos
    // A escrita é permitida para qualquer usuário autenticado (técnicos)
    match /laudos/{requestId}/{allPaths=**} {
       allow read: if request.auth != null;
       allow write: if request.auth != null;
    }
  }
}
